<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>プロフィール</h2>

      <div class="panel panel-default">
        <div class="panel-heading">ユーザー</div>
        <div class="panel-body">
          <p>
            ユーザ名：<%= @user.name %>
          </p>
          <br>
          <% if @user.thumbnail.nil? %>
          <img src="http://design-ec.com/d/e_others_50/l_e_others_501.png" width="200">
          <% else %>
          <img src="<%= @user.thumbnail %>" width="200">
          <% end %>
          <br><br><br>
          <p>
            大学名：<%= @user.university_name %>
          </p>
          <br>
          <p>
            ステータス：<%= @user.status.name %>
          </p>
          <br>
        </div>
      </div>
