<p id="notice"><%= notice %></p>
<h1>検索結果  <small><%= @univs.all.size %>件の大学がヒットしました</small></h1>
<hr>
<% @univs.each do |univ|%>
  <p><%= link_to univ.name, univ_path(univ.id), class: "search"%></p>
<% end %>

<h3>あなたの大学が見つかりませんか？</h3>
<%= link_to '新しく大学を登録する', new_univ_path %>
