<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>プロフィール</h2>

      <div class="panel panel-default">
        <div class="panel-heading">ユーザー</div>
        <div class="panel-body">
          
        </div>
      </div>
