<div class="foot">
  <div class="container" style='text-align:right;'>
    <p class="text-muted">
      Mitsuwo <a href="https://twitter.com/Mitsuwo47">https://twitter.com/Mitsuwo47</a>Kazu <a href="https://twitter.com/_kzumu">https://twitter.com/_kzumu</a>
    </p>
  </div>
</div>
